.comingup__container {
  padding-block: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  position: relative;

  &:before {
    content: "";
    background: url("./imgs/glow.png") no-repeat 50%;
    background-size: 115% 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 120%;
    z-index: -1;
  }

  .comingup__card {
    max-width: 1250px;
    width: 92%;
    padding: 5rem;
    display: grid;
    grid-template-columns: 4fr 6fr;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5rem;
    position: relative;
    border-radius: 2rem;
    background-color: var(--clr-secondary-black);
    border: 1px solid #ffffff1a;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
      padding: 3rem;
      gap: 3rem;
    }

    &--info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      p {
        color: var(--clr-main-gray);
        font-size: var(--fs-sm);
        line-height: 1.5;
      }
    }

    &--subscribe {
      display: flex;
      gap: 1rem;
      flex-direction: column;

      button {
        width: max-content;
        padding: 1rem 3.5rem 1rem 2.5rem;
        margin-left: auto;
        display: flex;
        justify-content: center;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        &:hover .arrow-btn::before {
          right: -1rem;
        }

        &:hover .arrow-btn::after {
          right: -1rem;
          opacity: 1;
        }

        span {
          display: inline-block;
          width: fit-content;

          &.arrow-btn {
            &::before {
              color: var(--clr-main-black);
              right: -1.2rem;
            }

            &:after {
              background-color: var(--clr-main-black);
              right: -1.25rem;
              opacity: 0;
            }
          }
        }
      }
    }
  }
}