.hero__container {
  padding-block: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-bottom: 1px solid var(--clr-main-dark-gray);

  .hero__img {
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;

    &:hover {
      img {
        transform: scale(1.02);
      }

      .hero__img--button {
        background-color: var(--clr-backdrop-button-dark);
      }
    }

    img {
      transition: all 0.3s ease;
      min-width: 700px;
    }

    .hero__img--button {
      position: absolute;
      left: 1rem;
      bottom: 1rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      background-color: var(--clr-backdrop-button);
      padding: 0.5rem 1rem 0.5rem 0.5rem;
      border-radius: 2rem;
      transition: all 0.3s ease;
      text-decoration: none;

      @media screen and (max-width: 768px) {
        left: 50%;
        transform: translateX(-50%);
      }

      span {
        font-size: var(--fs-xxs);
        font-weight: var(--fw-500);
        color: var(--clr-main-white);
      }
    }
  }
}