/* Import CSS */
@import "./styles/fonts.css";

:root {
  /* Colors */
  --clr-main-black: #010101;
  --clr-secondary-black: #0D1117;
  --clr-main-gray: #8B949E;
  --clr-main-white: #FFFFFF;

  --clr-cyan: #0E14C8;
  --clr-blue: #2265de;
  --clr-light-blue: #3F78B3;
  --clr-green: #17C751;
  --clr-pale-green: #0BC786;
  --clr-orange: #CB472B;
  --clr-purple: #653EAD;
  --clr-pink: #de75bd;
  --clr-bright-pink: #ff507a;
  --clr-teal: #0B8188;
  --clr-mustard: #E3B341;

  /* Gradients */
  --green-to-blue: linear-gradient(var(--clr-green),var(--clr-light-blue), var(--clr-cyan));
  --orange-to-pink: linear-gradient(var(--clr-orange), var(--clr-purple), var(--clr-pink));
  --teal-to-purple: linear-gradient( var(--clr-teal), var(--clr-cyan), var(--clr-purple));
  --multicolor: linear-gradient(166deg, var(--clr-bright-pink) 0%, var(var(--clr-purple)) 33%, var(--clr-blue) 66%, var(--clr-pale-green) 100%);

  /* Fonts */
  --ff-main: 'Mona Sans';
  --ff-title: 'Neue Helvetica W04 99 Cm Black';
  --ff-mono: monospace;

  --fw-100: 100;
  --fw-200: 200;
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  --fs-normal: normal;
  --fs-italic: italic;

  --fs-icon: calc(76px + (90 - 76) * ((100vw - 400px) / (1600 - 400)));
	--fs-timer: calc(16px + (36 - 16) * ((100vw - 600px) / (1600 - 600)));
	--fs-xxxxl: calc(52px + (68 - 52) * ((100vw - 400px) / (1600 - 400)));
	--fs-xxxl: calc(34px + (50 - 34) * ((100vw - 400px) / (1600 - 400)));
	--fs-xxl: calc(26px + (38 - 26) * ((100vw - 400px) / (1600 - 400)));
	--fs-xl: calc(20px + (30 - 20) * ((100vw - 400px) / (1600 - 400)));
	--fs-lg: calc(18px + (24 - 18) * ((100vw - 400px) / (1600 - 400)));
	--fs-md: calc(16px + (20 - 16) * ((100vw - 400px) / (1600 - 400)));
	--fs-st: calc(15px + (18 - 15) * ((100vw - 400px) / (1600 - 400)));
	--fs-sm: calc(14px + (16 - 14) * ((100vw - 400px) / (1600 - 400)));
	--fs-xs: calc(12px + (14 - 12) * ((100vw - 400px) / (1600 - 400)));
	--fs-xxs: calc(10px + (12 - 10) * ((100vw - 400px) / (1600 - 400)));
	--fs-xxxs: calc(9px + (10.5 - 9) * ((100vw - 400px) / (1600 - 400)));
	--fs-xxxxs: calc(7px + (8 - 7) * ((100vw - 400px) / (1600 - 400)));
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}

body {
  font-family: var(--ff-main);
  font-size: var(--fs-md);
  color: var(--clr-main-white);
  background-color: var(--clr-main-black);
  min-height: 100vh;
}